<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EURO-MOSKLIMAT</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <article class="additional-information">
    <div class="container">
      <div class="additional-information__left">
        <div class="additional-information__wrapper">
          <svg class="additional-information__left-icon" width="15" height="15">
            <use xlink:href="images/sprite.svg#icon-location"></use>
          </svg>
            <select class="additional-information__left-select" name="city" id="city">
              <option value="Ваш город">Ваш город</option>
              <option value="Moscow">Москва</option>
              <option value="Saint-Petersburg">Санкт-Петербург</option>
            </select>
        </div>
        <p class="additional-information__descr">
          Пн-Пт, Сб, Вс: с&nbsp;10:00 до&nbsp;20:00
        </p>
      </div>
      <div class="additional-information__right">
        <ul class="additional-information__list-social">
          <li class="additional-information__item-social">
            <a href="#" class="additional-information__link">
              <svg class="stock__icon-heart" width="16" height="16">
                <use xlink:href="images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="additional-information__item-social">
            <a href="#" class="additional-information__link">
              <svg class="stock__icon-heart" width="20" height="16">
                <use xlink:href="images/sprite.svg#icon-vk"></use>
              </svg>
            </a>
          </li>
          <li class="additional-information__item-social">
            <a href="#" class="additional-information__link">
              <svg class="stock__icon-heart" width="16" height="16">
                <use xlink:href="images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="additional-information__item-social">
            <a href="#" class="additional-information__link">
              <svg class="stock__icon-heart" width="16" height="16">
                <use xlink:href="images/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <a href="tel:+74997072527" class="additional-information__link-phone">+7 (499) 707-25-27</a>
      </div>
    </div>
  </article>

  <header class="header header--open">
    <div class="header-top">
      <div class="container">
        <div class="header__left">
          <a href="#" class="header__logo-link">
            <img src="images/logo.png" width="110" height="39" alt="Логотип EURO-MOSKLIMAT">
          </a>
          <div class="header__wrapper">
            <input class="header__wrapper-input" type="text" name="search" id="search" placeholder="Поиск товара">
            <button class="button header__wrapper-button" type="button">
              <svg class="header__wrapper-icon" width="24" height="24">
                <use xlink:href="images/sprite.svg#icon-search"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="header__right">
          <button type="button" class="button header__right-button">
            Заказать звонок
          </button>
          <ul class="header__list">
            <li class="header__item">
              <a href="#" class="header__right-link">
                <svg class="header__right-link-icon" width="26" height="24">
                  <use xlink:href="images/sprite.svg#icon-comparison"></use>
                </svg>
                <span class="header__right-link-descr">
                  Сравнение
                </span>
              </a>
            </li>
            <li class="header__item">
              <a href="#" class="header__right-link">
                <svg class="header__right-link-icon" width="24" height="24">
                  <use xlink:href="images/sprite.svg#icon-heart"></use>
                </svg>
                <span class="header__right-link-descr">
                  Избранное
                </span>
              </a>
            </li>
            <li class="header__item">
              <a href="#" class="header__right-link">
                <svg class="header__right-link-icon" width="24" height="24">
                  <use xlink:href="images/sprite.svg#icon-cart"></use>
                </svg>
                <span class="header__right-link-descr">
                  Корзина
                </span>
              </a>
            </li>
            <li class="header__item">
              <a href="#" class="header__right-link">
                <svg class="header__right-link-icon" width="24" height="24">
                  <use xlink:href="images/sprite.svg#icon-cart"></use>
                </svg>
                <span class="header__right-link-descr">
                  Войти
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <div class="container">
        <button type="button" class="button header-bottom__button">
          <svg class="header__button-icon" width="12" height="12">
            <use xlink:href="images/sprite.svg#icon-catalog"></use>
          </svg>
          <span class="header__buttom-descr">
            Каталог
          </span>
        </button>
        <nav class="nav">
          <ul class="header-bottom__list">
            <li class="header-bottom__item">
              <a href="#" class="header-bottom__descr">
                Кондиционеры
              </a>
            </li>
            <li class="header-bottom__item">
              <a href="#" class="header-bottom__descr">
                Обогреватели
              </a>
            </li>
            <li class="header-bottom__item">
              <a href="#" class="header-bottom__descr">
                Водонагреватели
              </a>
            </li>
            <li class="header-bottom__item">
              <a href="#" class="header-bottom__descr">
                Монтажные материалы
              </a>
            </li>
            <li class="header-bottom__item">
              <a href="#" class="header-bottom__descr">
                Вентиляционные установки
              </a>
            </li>
            <li class="header-bottom__item">
              <a href="#" class="header-bottom__descr">
                Рециркуляторы
              </a>
            </li>
            <li class="header-bottom__item">
              <a href="#" class="header-bottom__descr">
                Контакты
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main>

    <!-- <section class="navigation">
      <div class="container">
        <button type="button" class="button navigation__button">
          <svg class="header__button-icon" width="12" height="12">
            <use xlink:href="images/sprite.svg#icon-catalog"></use>
          </svg>
          <span class="header__buttom-descr">
            Каталог
          </span>
        </button>
        <nav class="nav">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a href="#" class="navigation__descr">
                Кондиционеры
              </a>
            </li>
            <li class="navigation__item">
              <a href="#" class="navigation__descr">
                Обогреватели
              </a>
            </li>
            <li class="navigation__item">
              <a href="#" class="navigation__descr">
                Водонагреватели
              </a>
            </li>
            <li class="navigation__item">
              <a href="#" class="navigation__descr">
                Монтажные материалы
              </a>
            </li>
            <li class="navigation__item">
              <a href="#" class="navigation__descr">
                Вентиляционные установки
              </a>
            </li>
            <li class="navigation__item">
              <a href="#" class="navigation__descr">
                Рециркуляторы
              </a>
            </li>
            <li class="navigation__item">
              <a href="#" class="navigation__descr">
                Контакты
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </section> -->

    <section class="offers">
      <img class="offers__bg" src="images/bg-1.jpg" alt="Фон">
      <div class="container">
        <div class="offers__left">
          <ul class="offers__list">
            <li class="offers__item">
              <input class="offers__switch-radio visually-hidden" type="radio" name="swiper" id="quiet-fans-1" value="quiet-fans" checked>
              <label for="quiet-fans-1" class="offers__switch-label"></label>
            </li>
            <li class="offers__item">
              <input class="offers__switch-radio visually-hidden" type="radio" name="swiper" id="quiet-fans-2" value="quiet-fans">
              <label for="quiet-fans-2" class="offers__switch-label"></label>
            </li>
            <li class="offers__item">
              <input class="offers__switch-radio visually-hidden" type="radio" name="swiper" id="quiet-fans-3" value="quiet-fans">
              <label for="quiet-fans-3" class="offers__switch-label"></label>
            </li>
            <li class="offers__item">
              <input class="offers__switch-radio visually-hidden" type="radio" name="swiper" id="quiet-fans-4" value="quiet-fans">
              <label for="quiet-fans-4" class="offers__switch-label"></label>
            </li>
          </ul>
          <div class="offers__content">
            <h2 class="offers__title">
              Тихие вентиляторы обеспечат вам комфорт при работе кондиционера
            </h2>
            <p class="offers__descr">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, inventore. Velit quas rem quae ut? Sed est, ducimus impedit voluptate modi dolorum obcaecati odio sapiente qui, ipsa voluptas porro recusandae!
            </p>
            <button type="button" class="button offers__button">
              Перейти в&nbsp;товары
            </button>
          </div>
        </div>
        <div class="offers__right">
          <svg class="offers__icon" width="622" height="622">
            <use xlink:href="images/sprite.svg#icon-circle"></use>
          </svg>
          <img src="images/img-main.png" alt="Фото кондиционера" class="offers__img">
          <img src="images/img-main.png" alt="Зеркало" class="offers__img offers__img--mirror">
        </div>
      </div>
    </section>

    <section class="climate-control">
      <div class="container">
        <h2 class="climate-control__title">
          Климатическое оборудование
        </h2>
        <ul class="climate-control__list">
          <li class="climate-control__item">
            <div class="climate-control__card">
              <h3 class="climate-control__card-title">
                Кондиционеры<br> Вентиляция<br> VFR сиситемы
              </h3>
              <a href="#" class="climate-control__card-link">
                Перейти в раздел
              </a>
              <img class="climate-control__card-img" src="/images/img-conditioners.png" width="225" height="135" alt="Фото кондиционера">
            </div>
          </li>
          <li class="climate-control__item">
            <div class="climate-control__card">
              <h3 class="climate-control__card-title">
                Мульти сплит <br>системы
              </h3>
              <a href="#" class="climate-control__card-link">
                Перейти в раздел
              </a>
              <img class="climate-control__card-img" src="/images/img-multi-split-systems.png" width="217" height="191" alt="Фото сплитсистемы">
            </div>
          </li>
          <li class="climate-control__item">
            <div class="climate-control__card">
              <h3 class="climate-control__card-title">
                Водонагреватели<br> Котлы<br> Бойлеры
              </h3>
              <a href="#" class="climate-control__card-link">
                Перейти в раздел
              </a>
              <img class="climate-control__card-img" src="/images/img-water-heaters.png" width="222" height="191" alt="Фото водонагревателя">
            </div>
          </li>
          <li class="climate-control__item">
            <div class="climate-control__card">
              <h3 class="climate-control__card-title">
                Мобильные кондиционеры
              </h3>
              <a href="#" class="climate-control__card-link">
                Перейти в раздел
              </a>
              <img class="climate-control__card-img" src="/images/img-mobile-conditioners.png" width="222" height="191" alt="Фото мобильных кондиционеров">
            </div>
          </li>
          <li class="climate-control__item">
            <div class="climate-control__card">
              <h3 class="climate-control__card-title">
                Теплый пол
              </h3>
              <a href="#" class="climate-control__card-link">
                Перейти в раздел
              </a>
              <img class="climate-control__card-img" src="/images/img-warm-floor.png" width="222" height="191" alt="Фото теплых полов">
            </div>
          </li>
          <li class="climate-control__item">
            <div class="climate-control__card">
              <h3 class="climate-control__card-title">
                Обогреватели<br> конвертеры камин
              </h3>
              <a href="#" class="climate-control__card-link">
                Перейти в раздел
              </a>
              <img class="climate-control__card-img" src="/images/img-heaters.png" width="222" height="191" alt="Обогреватели">
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="stock">
      <img class="stock__img-bg" src="images/img-stocks.png" alt="Фон">
      <div class="container">
        <div class="stock__header">
          <h2 class="stock__title">
            Акции
          </h2>
          <a href="#" class="stock__link">
            Перейти в каталог
          </a>
        </div>
        <ul class="stock__list">
          <li class="stock__item">
            <div class="card">
              <img src="/images/img-empty-offer.png" width="203" height="130" alt="Фото католога" class="card__img">
              <div class="card__favorites-wrapper">
                <input type="checkbox" name="heart" id="heart-1" class="visually-hidden card__button-favorites">
                <label for="heart-1" class="card__favorites-label">
                  <svg class="card__icon-heart" width="28" height="24">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                </label>
              </div>
              <div class="card__body">
                <p class="card__descr">
                  Комплект кондиционера Haier LIGHTERA DC-Inverter AS09NS6ERA-G/1U09BS3ERA (внутр+наруж)
                </p>
                <span class="card__price">
                  16.000₽
                </span>
                <button type="button" class="card__button-cart">
                  В корзину
                </button>
              </div>
            </div>
          </li>
          <li class="stock__item">
            <div class="card">
              <img src="/images/img-empty-offer.png" width="203" height="130" alt="Фото католога" class="card__img">
              <div class="card__favorites-wrapper">
                <input type="checkbox" name="heart" id="heart-2" class="visually-hidden card__button-favorites">
                <label for="heart-2" class="card__favorites-label">
                  <svg class="card__icon-heart" width="28" height="24">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                </label>
              </div>
              <div class="card__body">
                <p class="card__descr">
                  Комплект кондиционера Haier LIGHTERA DC-Inverter AS09NS6ERA-G/1U09BS3ERA (внутр+наруж)
                </p>
                <span class="card__price">
                  16.000₽
                </span>
                <button type="button" class="card__button-cart">
                  В корзину
                </button>
              </div>
            </div>
          </li>
          <li class="stock__item">
            <div class="card">
              <img src="/images/img-empty-offer.png" width="203" height="130" alt="Фото католога" class="card__img">
              <div class="card__favorites-wrapper">
                <input type="checkbox" name="heart" id="heart-3" class="visually-hidden card__button-favorites">
                <label for="heart-3" class="card__favorites-label">
                  <svg class="card__icon-heart" width="28" height="24">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                </label>
              </div>
              <div class="card__body">
                <p class="card__descr">
                  Комплект кондиционера Haier LIGHTERA DC-Inverter AS09NS6ERA-G/1U09BS3ERA (внутр+наруж)
                </p>
                <span class="card__price">
                  16.000₽
                </span>
                <button type="button" class="card__button-cart">
                  В корзину
                </button>
              </div>
            </div>
          </li>
          <li class="stock__item">
            <div class="card">
              <img src="/images/img-empty-offer.png" width="203" height="130" alt="Фото католога" class="card__img">
              <div class="card__favorites-wrapper">
                <input type="checkbox" name="heart" id="heart-4" class="visually-hidden card__button-favorites">
                <label for="heart-4" class="card__favorites-label">
                  <svg class="card__icon-heart" width="28" height="24">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                </label>
              </div>
              <div class="card__body">
                <p class="card__descr">
                  Комплект кондиционера Haier LIGHTERA DC-Inverter AS09NS6ERA-G/1U09BS3ERA (внутр+наруж)
                </p>
                <span class="card__price">
                  16.000₽
                </span>
                <button type="button" class="card__button-cart">
                  В корзину
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="advantages">
      <img class="advantages__bg" src="images/bg-2.jpg" alt="Фон">
      <div class="container">
        <h2 class="advantages__section-title">Наши преимущества</h2>
        <ul class="advantages__list">
          <li class="advantages__item">
            <svg class="advantages__icon" width="64" height="64">
              <use xlink:href="images/sprite.svg#icon-like"></use>
            </svg>
            <svg class="advantages__line" width="383.5" height="58.5">
              <use xlink:href="images/sprite.svg#line-right"></use>
            </svg>
            <h3 class="advantages__third-title">
              Высокое качество
            </h3>
            <p class="advantages__descr">
              В каждом товаре мы обеспечиваем надежность и долгий срок службы.
            </p>
          </li>
          <li class="advantages__item">
            <svg class="advantages__icon" width="64" height="64">
              <use xlink:href="images/sprite.svg#icon-discount"></use>
            </svg>
            <svg class="advantages__line" width="383.5" height="58.5">
              <use xlink:href="images/sprite.svg#line-left"></use>
            </svg>
            <h3 class="advantages__third-title">
              Лучшие цены
            </h3>
            <p class="advantages__descr">
              Мы работаем напрямую с производителями и предлагаем низкие цены
            </p>
          </li>
          <li class="advantages__item">
            <svg class="advantages__icon" width="64" height="64">
              <use xlink:href="images/sprite.svg#icon-certificate"></use>
            </svg>
            <svg class="advantages__line" width="383.5" height="58.5">
              <use xlink:href="images/sprite.svg#line-right"></use>
            </svg>
            <h3 class="advantages__third-title">
              Сертифицированный товар
            </h3>
            <p class="advantages__descr">
              Гарантия-все товары сертифицированные с гарантией от производителя
            </p>
          </li>
          <li class="advantages__item">
            <svg class="advantages__icon" width="64" height="64">
              <use xlink:href="images/sprite.svg#icon-delivery"></use>
            </svg>
            <svg class="advantages__line" width="383.5" height="58.5">
              <use xlink:href="images/sprite.svg#line-left"></use>
            </svg>
            <h3 class="advantages__third-title">
              Быстрая доставка
            </h3>
            <p class="advantages__descr">
              Мы отправляем заказы разными транспортными компаниями (ТК) по МСК и РФ
            </p>
          </li>
        </ul>
        <img class="advantages__center-img" src="images/center.png" width="460" height="456" alt="Главное фото">
      </div>
    </section>

    <section class="about-us">
      <div class="container">
        <div class="about-us__wrapper">
          <h2 class="about-us__title">
            Климатическая компания «Евромосклимат»
          </h2>
          <div class="about-us__box">
            <p class="about-us__box-descr">
              Решили купить кондиционер, но не знаете как правильнго рассчитать площадь помещения и какой бренд лучше выбрать? Наша компания поможет вам в этом. Наша компния существует на рынке с 2002 года, и нацелена на долгое сотрудничество с нашими клиентами. Обеспечение Российского рынка наиболее качественным климатическим оборудованием по наиболее доступным ценам - главная цель нашей компании.
            </p>
            <p class="about-us__box-descr">
              Мы являемся надежным партнёром для наших клиентов. Мы всегда указываем честные сроки выполнения заказов на поставку
            </p>
          </div>
          <button type="button" class="about-us__button">
            Подробнее о нас
          </button>
        </div>

        <div class="brend">
          <h2 class="brend__title">
            Мы работаем с брендами:
          </h2>
          <ul class="brend__list">
            <li class="brend__item">
              <div class="brend__card">
                <img src="images/img-zanussi.png" width="188" height="76" alt="Изображение Zanussi" class="brend__img">
              </div>
            </li>
            <li class="brend__item">
              <div class="brend__card">
                <img src="images/img-lg.png" width="188" height="76" alt="Изображение LG" class="brend__img">
              </div>
            </li>
            <li class="brend__item">
              <div class="brend__card">
                <img src="images/img-zanussi.png" width="188" height="76" alt="Изображение Zanussi" class="brend__img">
              </div>
            </li>
            <li class="brend__item">
              <div class="brend__card">
                <img src="images/img-lg.png" width="188" height="76" alt="Изображение LG" class="brend__img">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="popular-offer">
      <img class="popular-offer__img-bg" src="images/img-stocks.png" alt="Фон">
      <div class="container">
        <div class="popular-offer__header">
          <h2 class="popular-offer__title">
            Популярные товары
          </h2>
          <a href="#" class="popular-offer__link">
            Перейти в каталог
          </a>
        </div>
        <ul class="popular-offer__list">
          <li class="popular-offer__item">
            <div class="card">
              <img src="/images/img-empty-offer.png" width="203" height="130" alt="Фото католога" class="card__img">
              <div class="card__favorites-wrapper">
                <input type="checkbox" name="heart" id="heart-5" class="visually-hidden card__button-favorites">
                <label for="heart-5" class="card__favorites-label">
                  <svg class="card__icon-heart" width="28" height="24">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                </label>
              </div>
              <div class="card__body">
                <p class="card__descr">
                  Комплект кондиционера Haier LIGHTERA DC-Inverter AS09NS6ERA-G/1U09BS3ERA (внутр+наруж)
                </p>
                <span class="card__price">
                  16.000₽
                </span>
                <button type="button" class="card__button-cart">
                  В корзину
                </button>
              </div>
            </div>
          </li>
          <li class="popular-offer__item">
            <div class="card">
              <img src="/images/img-empty-offer.png" width="203" height="130" alt="Фото католога" class="card__img">
              <div class="card__favorites-wrapper">
                <input type="checkbox" name="heart" id="heart-6" class="visually-hidden card__button-favorites">
                <label for="heart-6" class="card__favorites-label">
                  <svg class="card__icon-heart" width="28" height="24">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                </label>
              </div>
              <div class="card__body">
                <p class="card__descr">
                  Комплект кондиционера Haier LIGHTERA DC-Inverter AS09NS6ERA-G/1U09BS3ERA (внутр+наруж)
                </p>
                <span class="card__price">
                  16.000₽
                </span>
                <button type="button" class="card__button-cart">
                  В корзину
                </button>
              </div>
            </div>
          </li>
          <li class="popular-offer__item">
            <div class="card">
              <img src="/images/img-empty-offer.png" width="203" height="130" alt="Фото католога" class="card__img">
              <div class="card__favorites-wrapper">
                <input type="checkbox" name="heart" id="heart-7" class="visually-hidden card__button-favorites">
                <label for="heart-7" class="card__favorites-label">
                  <svg class="card__icon-heart" width="28" height="24">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                </label>
              </div>
              <div class="card__body">
                <p class="card__descr">
                  Комплект кондиционера Haier LIGHTERA DC-Inverter AS09NS6ERA-G/1U09BS3ERA (внутр+наруж)
                </p>
                <span class="card__price">
                  16.000₽
                </span>
                <button type="button" class="card__button-cart">
                  В корзину
                </button>
              </div>
            </div>
          </li>
          <li class="popular-offer__item">
            <div class="card">
              <img src="/images/img-empty-offer.png" width="203" height="130" alt="Фото католога" class="card__img">
              <div class="card__favorites-wrapper">
                <input type="checkbox" name="heart" id="heart-8" class="visually-hidden card__button-favorites">
                <label for="heart-8" class="card__favorites-label">
                  <svg class="card__icon-heart" width="28" height="24">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                </label>
              </div>
              <div class="card__body">
                <p class="card__descr">
                  Комплект кондиционера Haier LIGHTERA DC-Inverter AS09NS6ERA-G/1U09BS3ERA (внутр+наруж)
                </p>
                <span class="card__price">
                  16.000₽
                </span>
                <button type="button" class="card__button-cart">
                  В корзину
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section class="choice">
      <img class="choice__bg" src="images/bg-3.png" alt="Фон">
      <div class="container">
        <form action="#" method="post" class="form">
          <div class="form__box-input">

            <div class="form__first-line">
              <div class="form-input__wrapper">
                <label class="form__label" for="brend">
                  Бренд
                </label>
                <select name="brend" id="brend" class="form__input form__input--select">
                  <option value="">Выберите</option>
                  <option value="LG">LG</option>
                  <option value="Zanussi">Zanussi</option>
                </select>
                <svg class="form__select-icon" width="24" height="12">
                  <use xlink:href="images/sprite.svg#icon-arrow"></use>
                </svg>
              </div>
              <div class="form-input__wrapper">
                <label class="form__label" for="inverter">
                  Инвертор <span>(плавная регулировка мощности)</span>
                </label>
                <select name="inverter" id="inverter" class="form__input form__input--select">
                  <option value="Выберите">Выберите</option>
                  <option value="LG">LG</option>
                  <option value="Zanussi">Zanussi</option>
                </select>
                <svg class="form__select-icon" width="24" height="12">
                  <use xlink:href="images/sprite.svg#icon-arrow"></use>
                </svg>
              </div>
            </div>

            <div class="form__second-line">
              <div class="form-input__wrapper">
                <label class="form__label" for="price-from">
                  Цена (₽)
                </label>
                <div class="form__flex">
                  <input type="number" name="price-from" id="price-from" class="form__input form__input--number" placeholder="От">
                  <span> - </span>
                  <input type="number" name="price-to" id="price-to" class="form__input form__input--number" placeholder="До">
                </div>
              </div>
              <div class="form-input__wrapper">
                <label class="form__label" for="square-from">
                  Обслуживаемая площадь (М<sup>2</sup>)
                </label>
                <div class="form__flex">
                  <input type="number" name="square-from" id="square-from" class="form__input form__input--number" placeholder="От">
                  <span> - </span>
                  <input type="number" name="square-to" id="square-to" class="form__input form__input--number" placeholder="До">
                </div>
              </div>
            </div>

            <div class="form__third-line">
              <div class="form-input__wrapper form-input__wrapper--100">
                <label for="" class="form__label">
                  Тип кондиционера
                </label>
                <select class="form__input form__input--select" name="type" id="type">
                  <option value="Выберите">Выберите</option>
                  <option value="mobile">Мобильный кондиционер</option>
                  <option value="station">Стационарный кондиционер</option>
                </select>
                <svg class="form__select-icon" width="24" height="12">
                  <use xlink:href="images/sprite.svg#icon-arrow"></use>
                </svg>
              </div>
            </div>

            <div class="form__four-line">
              <div class="form-input__wrapper">
                <label class="form__label" for="price-from">
                  Мощность в режиме охлаждения (Вт)
                </label>
                <div class="form__flex">
                  <input type="number" name="watt-cold-from" id="watt-cold-from" class="form__input form__input--number" placeholder="От">
                  <span> - </span>
                  <input type="number" name="watt-cold-to" id="watt-cold-to" class="form__input form__input--number" placeholder="До">
                </div>
              </div>
              <div class="form-input__wrapper">
                <label class="form__label" for="square-from">
                  Мощность в режиме обогрева (Вт)
                </label>
                <div class="form__flex">
                  <input type="number" name="watt-hot-from" id="watt-hot-from" class="form__input form__input--number" placeholder="От">
                  <span> - </span>
                  <input type="number" name="watt-hot-from" id="watt-hot-to" class="form__input form__input--number" placeholder="До">
                </div>
              </div>
            </div>
          </div>
          <div class="form__choice">
            <div class="form__content">
              <h2 class="form__title">
                Подобрать кондиционер
              </h2>
              <p class="form__descr">
                Укажите необходимые вам праметры и мы покажем вам все товары которые будут вам походить
              </p>
            </div>
            <div class="form__box-button">
              <button type="submit" class="form__button form__button--submit">
                Применить
              </button>
              <button type="reset" class="form__button form__button--reset">
                Сбросить
              </button>
            </div>
          </div>
        </form>
      </div>
    </section>

    <section class="sold">
      <div class="container">
        <div class="sold__header">
          <h2 class="sold__title">
            Хит продаж
          </h2>
          <a href="#" class="sold__link">
            Перейти в каталог
          </a>
        </div>
        <ul class="sold__list">
          <li class="sold__item">
            <div class="card">
              <img src="/images/img-empty-offer.png" width="203" height="130" alt="Фото католога" class="card__img">
              <div class="card__favorites-wrapper">
                <input type="checkbox" name="heart" id="heart-9" class="visually-hidden card__button-favorites">
                <label for="heart-9" class="card__favorites-label">
                  <svg class="card__icon-heart" width="28" height="24">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                </label>
              </div>
              <div class="card__body">
                <p class="card__descr">
                  Комплект кондиционера Haier LIGHTERA DC-Inverter AS09NS6ERA-G/1U09BS3ERA (внутр+наруж)
                </p>
                <span class="card__price">
                  16.000₽
                </span>
                <button type="button" class="card__button-cart">
                  В корзину
                </button>
              </div>
            </div>
          </li>
          <li class="sold__item">
            <div class="card">
              <img src="/images/img-empty-offer.png" width="203" height="130" alt="Фото католога" class="card__img">
              <div class="card__favorites-wrapper">
                <input type="checkbox" name="heart" id="heart-10" class="visually-hidden card__button-favorites">
                <label for="heart-10" class="card__favorites-label">
                  <svg class="card__icon-heart" width="28" height="24">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                </label>
              </div>
              <div class="card__body">
                <p class="card__descr">
                  Комплект кондиционера Haier LIGHTERA DC-Inverter AS09NS6ERA-G/1U09BS3ERA (внутр+наруж)
                </p>
                <span class="card__price">
                  16.000₽
                </span>
                <button type="button" class="card__button-cart">
                  В корзину
                </button>
              </div>
            </div>
          </li>
          <li class="sold__item">
            <div class="card">
              <img src="/images/img-empty-offer.png" width="203" height="130" alt="Фото католога" class="card__img">
              <div class="card__favorites-wrapper">
                <input type="checkbox" name="heart" id="heart-11" class="visually-hidden card__button-favorites">
                <label for="heart-11" class="card__favorites-label">
                  <svg class="card__icon-heart" width="28" height="24">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                </label>
              </div>
              <div class="card__body">
                <p class="card__descr">
                  Комплект кондиционера Haier LIGHTERA DC-Inverter AS09NS6ERA-G/1U09BS3ERA (внутр+наруж)
                </p>
                <span class="card__price">
                  16.000₽
                </span>
                <button type="button" class="card__button-cart">
                  В корзину
                </button>
              </div>
            </div>
          </li>
          <li class="sold__item">
            <div class="card">
              <img src="/images/img-empty-offer.png" width="203" height="130" alt="Фото католога" class="card__img">
              <div class="card__favorites-wrapper">
                <input type="checkbox" name="heart" id="heart-12" class="visually-hidden card__button-favorites">
                <label for="heart-12" class="card__favorites-label">
                  <svg class="card__icon-heart" width="28" height="24">
                    <use xlink:href="images/sprite.svg#icon-heart"></use>
                  </svg>
                </label>
              </div>
              <div class="card__body">
                <p class="card__descr">
                  Комплект кондиционера Haier LIGHTERA DC-Inverter AS09NS6ERA-G/1U09BS3ERA (внутр+наруж)
                </p>
                <span class="card__price">
                  16.000₽
                </span>
                <button type="button" class="card__button-cart">
                  В корзину
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

        <section class="news">
      <img class="news__img-bg" src="images/img-stocks.png" alt="Фон">
      <div class="container">
        <div class="news__header">
          <h2 class="news__title">
            Новости
          </h2>
          <a href="#" class="news__link">
            Все новости
          </a>
        </div>
        <ul class="news__list">
          <li class="news__item">
            <div class="card card--news">
              <img src="/images/img-news.jpg" width="278" height="162" alt="Фото католога" class="card__img">
              <div class="card__body">
                <p class="card__date">
                  10.03.2025
                </p>
                <p class="card__descr">
                  Кондиционеры Haier c Ультрафилетовой лампой
                </p>
                <a href="#" class="card__button-cart">
                  Читать полностью
                </a>
              </div>
            </div>
          </li>
          <li class="news__item">
            <div class="card card--news">
              <img src="/images/img-news.jpg" width="278" height="162" alt="Фото католога" class="card__img">
              <div class="card__body">
                <p class="card__date">
                  10.03.2025
                </p>
                <p class="card__descr">
                  Кондиционеры Haier c Ультрафилетовой лампой
                </p>
                <a href="#" class="card__button-cart">
                  Читать полностью
                </a>
              </div>
            </div>
          </li>
          <li class="news__item">
            <div class="card card--news">
              <img src="/images/img-news.jpg" width="278" height="162" alt="Фото католога" class="card__img">
              <div class="card__body">
                <p class="card__date">
                  10.03.2025
                </p>
                <p class="card__descr">
                  Кондиционеры Haier c Ультрафилетовой лампой
                </p>
                <a href="#" class="card__button-cart">
                  Читать полностью
                </a>
              </div>
            </div>
          </li>
          <li class="news__item">
            <div class="card card--news">
              <img src="/images/img-news.jpg" width="278" height="162" alt="Фото католога" class="card__img">
              <div class="card__body">
                <p class="card__date">
                  10.03.2025
                </p>
                <p class="card__descr">
                  Кондиционеры Haier c Ультрафилетовой лампой
                </p>
                <a href="#" class="card__button-cart">
                  Читать полностью
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

  </main>

  <footer class="footer">
    <img class="footer__bg" src="images/footer-bg.jpg" alt="Фон">
    <div class="container">
      <div class="footer__logo-box">
        <a href="#" class="footer__logo-link">
          <img src="images/logo-footer.png" width="198" height="70" alt="Логотип компании">
        </a>
        <p class="footer__copyright">
          © 2025 «EUROmosklimat» Все права защищены.
        </p>
      </div>
      <div class="footer__nav-box">
        <h3 class="footer__title">
          Разделы на сайте
        </h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">
            Кондиционеры
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">
            Обогреватели
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">
            Водонагреватели
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">
            Монтажные материалы
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">
            Вентиляционные установки
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__clients">
        <h3 class="footer__title">
          Клиентам
        </h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">
              Доставка
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">
              О компании
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">
              Услуги
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">
              Фото
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">
              Бренды
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">
              Доставка
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__contacts">
        <h3 class="footer__title">
          Контакты
        </h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="tel:+74997072527" class="footer__link">
              +7 (499) 707-25-27
            </a>
          </li>
          <li class="footer__item">
            <a href="tel:+79254653336" class="footer__link">
              +7 (925) 465-33-36
            </a>
          </li>
          <li class="footer__item">
            <a href="email:info@euromosklimat.su" class="footer__link">
              info@euromosklimat.su
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">
              Пн - Вс: с 10:00 до 20:00
            </a>
          </li>
        </ul>
      </div>

      <div class="footer__consult">
        <h3 class="footer__title">
          Консультация
        </h3>
        <a href="#" class="footer__link footer__link--consult">
          Записаться
        </a>
        <span class="footer__free">
          Абсолютно бесплатно
        </span>
      </div>
    </div>
  </footer>
</body>
</html>