html {
    box-sizing: border-box;
}

*,
*::before
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 300px;
    height: 300px;
}

body {
    font-family: 'font', sans-serif;
    background-color: rgb(229, 229, 229);
}

.app {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

.card__img {
    margin-bottom: 20px;
    border-radius: 8px;
}

.card__title {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 25px;
}

.card__price {
    margin-bottom: 20px;
    font-size: 20px;
}

.card__add-btn {
    width: 100%;
    background-color: rgb(16, 94, 248);
    color: white;
    border-radius: 8px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
}

.card__add-btn:hover {
    background-color: rgb(50, 117, 251);
}

.card__add-btn:active {
    background-color: rgb(12, 82, 221);
}

.card__add-btn.added {
    background-color: rgb(132, 196, 54);
    transition: background-color .3s;
}

.card__add-btn.added:hover {
    background-color: rgb(168, 226, 97);
}

.card__add-btn.added:active {
    background-color: rgb(128, 171, 34);
}

.card__add-counter-wrap {
    display: none;
}

.card__add-wrap.added .card__add-btn {
    display: none;
}

.card__add-wrap.added .card__add-counter-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__add-counter-btn {
    background-color: rgb(16, 94, 248);
    color: white;
    border-radius: 8px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    transition: background-color .3s;
}

.card__add-counter-btn:hover {
    background-color: rgb(50, 117, 251);
}

.card__add-counter-btn:active {
    background-color: rgb(12, 82, 221);
}

.card__add-counter-btn:disabled {
    background-color: gray;
    cursor: default;
}