.infrastructure {
    margin-bottom: 120px;

    @include vp-1023 {
        margin-bottom: 80px;
    }

    @include vp-767 {
        margin-bottom: 60px;
    }

    &__list {
        display: grid;
        grid-template-columns: minmax(370px, 800px) minmax(200px, 400px);
        justify-content: space-between;
        align-items: center;
        row-gap: 20px;
        margin: 0;
        padding: 0;
        list-style: none;

        @media (max-width: 1540px) {
            grid-template-columns: auto;
            justify-content: center;
            row-gap: 80px;
        }

        @include vp-1023 {
            row-gap: 60px;
        }
    }
}