<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Выбор тарифов - Газпромбанк Мобайл</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__wrapper">
          <a class="header__logo-link" href="#" aria-label="Перейти на главную страницу Газпромбанк Мобайл">
            <svg class="header__logo-image" width="198" height="50" aria-hidden="true">
              <use xlink:href="images/sprite.svg#logo-gazprombank-mobile"></use>
            </svg>
          </a>
          <button class="header__button" type="button" aria-label="Открыть меню">
            <svg class="header__logo-image" width="48" height="16" aria-hidden="true">
              <use xlink:href="images/sprite.svg#icon-burger"></use>
            </svg>
          </button>
        </div>
      </div>
    </header>
    <main>
      <!-- Выбор тарифа -->
       <section class="rate">
        <div class="container container--rate">
          <h1 class="main-title">
            Тарифы <span>#Разумныйвыбор</span>
          </h1>
          <ul class="rate__list">
            <li class="rate__item rate__item--mod-1">
              <div class="rate-card">
                <h3 class="rate-card__title">
                  Пробуй
                </h3>
                <ul class="rate-card__lits-conditions">
                  <li class="rate-card__item-conditions">
                    <div class="rate-card__box-conditions">
                      <p class="rate-card__number-conditions">
                        5
                      </p>
                      <span class="rate-card__word-conditions">
                        ГБ
                      </span>
                    </div>
                  </li>
                  <li class="rate-card__item-conditions">
                    <div class="rate-card__box-conditions">
                      <p class="rate-card__number-conditions">
                        400
                      </p>
                      <span class="rate-card__word-conditions">
                        мин
                      </span>
                    </div>
                  </li>
                  <li class="rate-card__item-conditions">
                    <div class="rate-card__box-conditions">
                      <p class="rate-card__number-conditions">
                        50
                      </p>
                      <span class="rate-card__word-conditions">
                        sms
                      </span>
                    </div>
                  </li>
                </ul>
                <ul class="rate-card__list-options">
                  <li class="rate-card__item-options">
                    <div class="rate-card__wrapper-options">
                      <svg width="40" height="40">
                        <use xlink:href="images/sprite.svg#icon-infinity"></use>
                      </svg>
                      <span class="rate-card__descr-options">
                        Безлимит внутри сети
                      </span>
                    </div>
                  </li>
                  <li class="rate-card__item-options">
                    <div class="rate-card__wrapper-options">
                      <svg width="40" height="40">
                        <use xlink:href="images/sprite.svg#icon-infinity"></use>
                      </svg>
                      <span class="rate-card__descr-options">
                        Мессенджеры без ограничений
                      </span>
                    </div>
                  </li>
                  <li class="rate-card__item-options">
                    <div class="rate-card__wrapper-options">
                      <svg width="40" height="40">
                        <use xlink:href="images/sprite.svg#icon-separated-arrow"></use>
                      </svg>
                      <span class="rate-card__descr-options">
                        Перенос остатков sms, минут и&nbsp;Гб
                      </span>
                    </div>
                  </li>
                  <li class="rate-card__item-options">
                    <div class="rate-card__wrapper-options">
                      <svg width="40" height="40">
                        <use xlink:href="images/sprite.svg#icon-plus"></use>
                      </svg>
                      <span class="rate-card__descr-options">
                        Доп. пакеты услуг
                      </span>
                    </div>
                  </li>
                  <li class="rate-card__item-options">
                    <a href="#" class="rate-card__link-options">
                      Подробнее о&nbsp;тарифе
                      <svg width="5" height="10">
                        <use xlink:href="images/sprite.svg#icon-right-arrow"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
                <form action="#" method="post" class="rate-card__form">
                  <ul class="rate-card__price-list">
                    <li class="rate-card__price-item rate-card__price-item--first-card">
                      <div class="rate-card__price-card">
                        <input type="radio" name="try" id="try-mounth" class="rate-card__price-radio visually-hidden" required>
                        <label for="try-mounth" class="rate-card__price-radio-label"></label>
                        <h4 class="rate-card__price-title">
                          200&nbsp;₽
                          <span class="rate-card__price-mounth">
                            / месяц
                          </span>
                        </h4>
                        <div class="rate-card__price-body">
                          <p class="rate-card__price-descr">
                            400&nbsp;₽
                            <span> в&nbsp;месяц без трат</span>
                          </p>
                          <span class="rate-card__price-bank-card">
                            по&nbsp;карте Газпромбанка
                          </span>
                        </div>
                      </div>
                    </li>
                    <li class="rate-card__price-item">
                      <div class="rate-card__price-card">
                        <input type="radio" name="try" id="try-half-year" class="rate-card__price-radio visually-hidden" required>
                        <label for="try-half-year" class="rate-card__price-radio-label"></label>
                        <p class="rate-card__price-descr">
                          Предоплата за&nbsp;6&nbsp;месяцев
                        </p>
                        <h4 class="rate-card__price-title">
                          1080&nbsp;₽
                        </h4>
                        <p class="rate-card__price-saving">
                          Экономия 
                          <span>1320&nbsp;₽</span>
                        </p>
                      </div>
                    </li>
                    <li class="rate-card__price-item">
                      <div class="rate-card__price-card">
                        <input type="radio" name="try" id="try-year" class="rate-card__price-radio visually-hidden" required>
                        <label for="try-year" class="rate-card__price-radio-label"></label>
                        <p class="rate-card__price-descr">
                          Предоплата за&nbsp;12&nbsp;месяцев
                        </p>
                        <h4 class="rate-card__price-title">
                          1680&nbsp;₽
                        </h4>
                        <p class="rate-card__price-saving">
                          Экономия 
                          <span>3120&nbsp;₽</span>
                        </p>
                      </div>
                    </li>
                  </ul>
                  <button type="submit" class="rate-card__button-form">
                    Заказать SIM-карту
                  </button>
                </form>
              </div>
            </li>
            <li class="rate__item rate__item--mod-2 rate__item--bestseller">
              <div class="rate-card">
                <h3 class="rate-card__title rate-card__bestseller">
                  Действуй
                </h3>
                <ul class="rate-card__lits-conditions">
                  <li class="rate-card__item-conditions">
                    <div class="rate-card__box-conditions">
                      <p class="rate-card__number-conditions">
                        20
                      </p>
                      <span class="rate-card__word-conditions">
                        ГБ
                      </span>
                    </div>
                  </li>
                  <li class="rate-card__item-conditions">
                    <div class="rate-card__box-conditions">
                      <p class="rate-card__number-conditions">
                        600
                      </p>
                      <span class="rate-card__word-conditions">
                        мин
                      </span>
                    </div>
                  </li>
                  <li class="rate-card__item-conditions">
                    <div class="rate-card__box-conditions">
                      <p class="rate-card__number-conditions">
                        50
                      </p>
                      <span class="rate-card__word-conditions">
                        sms
                      </span>
                    </div>
                  </li>
                </ul>
                <ul class="rate-card__list-options">
                  <li class="rate-card__item-options">
                    <div class="rate-card__wrapper-options">
                      <svg width="40" height="40">
                        <use xlink:href="images/sprite.svg#icon-infinity"></use>
                      </svg>
                      <span class="rate-card__descr-options">
                        Безлимит внутри сети
                      </span>
                    </div>
                  </li>
                  <li class="rate-card__item-options">
                    <div class="rate-card__wrapper-options">
                      <svg width="40" height="40">
                        <use xlink:href="images/sprite.svg#icon-infinity"></use>
                      </svg>
                      <span class="rate-card__descr-options">
                        Мессенджеры без ограничений
                      </span>
                    </div>
                  </li>
                  <li class="rate-card__item-options">
                    <div class="rate-card__wrapper-options">
                      <svg width="40" height="40">
                        <use xlink:href="images/sprite.svg#icon-separated-arrow"></use>
                      </svg>
                      <span class="rate-card__descr-options">
                        Перенос остатков sms, минут и&nbsp;Гб
                      </span>
                    </div>
                  </li>
                  <li class="rate-card__item-options">
                    <div class="rate-card__wrapper-options">
                      <svg width="40" height="40">
                        <use xlink:href="images/sprite.svg#icon-plus"></use>
                      </svg>
                      <span class="rate-card__descr-options">
                        Доп. пакеты услуг
                      </span>
                    </div>
                  </li>
                  <li class="rate-card__item-options">
                    <a href="#" class="rate-card__link-options">
                      Подробнее о&nbsp;тарифе
                      <svg width="5" height="10">
                        <use xlink:href="images/sprite.svg#icon-right-arrow"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
                <form action="#" method="post" class="rate-card__form">
                  <ul class="rate-card__price-list">
                    <li class="rate-card__price-item rate-card__price-item--first-card">
                      <div class="rate-card__price-card">
                        <input type="radio" name="take-action" id="take-action-month" class="rate-card__price-radio visually-hidden" required>
                        <label for="take-action-month" class="rate-card__price-radio-label"></label>
                        <h4 class="rate-card__price-title">
                          300&nbsp;₽
                          <span class="rate-card__price-mounth">
                            / месяц
                          </span>
                        </h4>
                        <div class="rate-card__price-body">
                          <p class="rate-card__price-descr">
                            600&nbsp;₽
                            <span> в&nbsp;месяц без трат</span>
                          </p>
                          <span class="rate-card__price-bank-card">
                            по&nbsp;карте Газпромбанка
                          </span>
                        </div>
                      </div>
                    </li>
                    <li class="rate-card__price-item">
                      <div class="rate-card__price-card">
                        <input type="radio" name="take-action" id="take-action-half-year" class="rate-card__price-radio visually-hidden" required>
                        <label for="take-action-half-year" class="rate-card__price-radio-label"></label>
                        <p class="rate-card__price-descr">
                          Предоплата за&nbsp;6&nbsp;месяцев
                        </p>
                        <h4 class="rate-card__price-title">
                          1620&nbsp;₽
                        </h4>
                        <p class="rate-card__price-saving">
                          Экономия 
                          <span>1980&nbsp;₽</span>
                        </p>
                      </div>
                    </li>
                    <li class="rate-card__price-item">
                      <div class="rate-card__price-card">
                        <input type="radio" name="take-action" id="take-action-year" class="rate-card__price-radio visually-hidden" required>
                        <label for="take-action-year" class="rate-card__price-radio-label"></label>
                        <p class="rate-card__price-descr">
                          Предоплата за&nbsp;12&nbsp;месяцев
                        </p>
                        <h4 class="rate-card__price-title">
                          2520&nbsp;₽
                        </h4>
                        <p class="rate-card__price-saving">
                          Экономия 
                          <span>4680&nbsp;₽</span>
                        </p>
                      </div>
                    </li>
                  </ul>
                  <button type="submit" class="rate-card__button-form">
                    Заказать SIM-карту
                  </button>
                </form>
              </div>
            </li>
            <li class="rate__item rate__item--mod-3">
              <div class="rate-card">
                <h3 class="rate-card__title">
                  Побеждай
                </h3>
                <ul class="rate-card__lits-conditions">
                  <li class="rate-card__item-conditions">
                    <div class="rate-card__box-conditions">
                      <p class="rate-card__number-conditions">
                        40
                      </p>
                      <span class="rate-card__word-conditions">
                        ГБ
                      </span>
                    </div>
                  </li>
                  <li class="rate-card__item-conditions">
                    <div class="rate-card__box-conditions">
                      <p class="rate-card__number-conditions">
                        1000
                      </p>
                      <span class="rate-card__word-conditions">
                        мин
                      </span>
                    </div>
                  </li>
                  <li class="rate-card__item-conditions">
                    <div class="rate-card__box-conditions">
                      <p class="rate-card__number-conditions">
                        50
                      </p>
                      <span class="rate-card__word-conditions">
                        sms
                      </span>
                    </div>
                  </li>
                </ul>
                <ul class="rate-card__list-options">
                  <li class="rate-card__item-options">
                    <div class="rate-card__wrapper-options">
                      <svg width="40" height="40">
                        <use xlink:href="images/sprite.svg#icon-infinity"></use>
                      </svg>
                      <span class="rate-card__descr-options">
                        Безлимит внутри сети
                      </span>
                    </div>
                  </li>
                  <li class="rate-card__item-options">
                    <div class="rate-card__wrapper-options">
                      <svg width="40" height="40">
                        <use xlink:href="images/sprite.svg#icon-infinity"></use>
                      </svg>
                      <span class="rate-card__descr-options">
                        Мессенджеры без ограничений
                      </span>
                    </div>
                  </li>
                  <li class="rate-card__item-options">
                    <div class="rate-card__wrapper-options">
                      <svg width="40" height="40">
                        <use xlink:href="images/sprite.svg#icon-separated-arrow"></use>
                      </svg>
                      <span class="rate-card__descr-options">
                        Перенос остатков sms, минут и&nbsp;Гб
                      </span>
                    </div>
                  </li>
                  <li class="rate-card__item-options">
                    <div class="rate-card__wrapper-options">
                      <svg width="40" height="40">
                        <use xlink:href="images/sprite.svg#icon-plus"></use>
                      </svg>
                      <span class="rate-card__descr-options">
                        Доп. пакеты услуг
                      </span>
                    </div>
                  </li>
                  <li class="rate-card__item-options">
                    <a href="#" class="rate-card__link-options">
                      Подробнее о&nbsp;тарифе
                      <svg width="5" height="10">
                        <use xlink:href="images/sprite.svg#icon-right-arrow"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
                <form action="#" method="post" class="rate-card__form">
                  <ul class="rate-card__price-list">
                    <li class="rate-card__price-item rate-card__price-item--first-card">
                      <div class="rate-card__price-card">
                        <input type="radio" name="win" id="win-month" class="rate-card__price-radio visually-hidden" required>
                        <label for="win-month" class="rate-card__price-radio-label"></label>
                        <h4 class="rate-card__price-title">
                          450&nbsp;₽
                          <span class="rate-card__price-mounth">
                            / месяц
                          </span>
                        </h4>
                        <div class="rate-card__price-body">
                          <p class="rate-card__price-descr">
                            900&nbsp;₽
                            <span> в&nbsp;месяц без трат</span>
                          </p>
                          <span class="rate-card__price-bank-card">
                            по&nbsp;карте Газпромбанка
                          </span>
                        </div>
                      </div>
                    </li>
                    <li class="rate-card__price-item">
                      <div class="rate-card__price-card">
                        <input type="radio" name="win" id="win-half-year" class="rate-card__price-radio visually-hidden" required>
                        <label for="win-half-year" class="rate-card__price-radio-label"></label>
                        <p class="rate-card__price-descr">
                          Предоплата за&nbsp;6&nbsp;месяцев
                        </p>
                        <h4 class="rate-card__price-title">
                          2430&nbsp;₽
                        </h4>
                        <p class="rate-card__price-saving">
                          Экономия 
                          <span>2970&nbsp;₽</span>
                        </p>
                      </div>
                    </li>
                    <li class="rate-card__price-item">
                      <div class="rate-card__price-card">
                        <input type="radio" name="win" id="win-year" class="rate-card__price-radio visually-hidden" required>
                        <label for="win-year" class="rate-card__price-radio-label"></label>
                        <p class="rate-card__price-descr">
                          Предоплата за&nbsp;12&nbsp;месяцев
                        </p>
                        <h4 class="rate-card__price-title">
                          3780&nbsp;₽
                        </h4>
                        <p class="rate-card__price-saving">
                          Экономия 
                          <span>7020&nbsp;₽</span>
                        </p>
                      </div>
                    </li>
                  </ul>
                  <button type="submit" class="rate-card__button-form">
                    Заказать SIM-карту
                  </button>
                </form>
              </div>
            </li>
          </ul>
        </div>
       </section>
       <section class="order">
        <div class="container container--order">
          <h2 class="order__title">
            Заказать SIM-карту Газпромбанк Мобайл
          </h2>
          <div class="order-card">
            <ul class="order-card__header-list">
              <li class="order-card__header-item order-card__header-item--active">
                <span class="order-card__step">
                  Шаг 1
                </span>
                <span class="order-card__step-descr">
                  Заказ SIM-карты
                </span>
              </li>
              <li class="order-card__header-item">
                <span class="order-card__step">
                  Шаг 2
                </span>
                <span class="order-card__step-descr">
                  Подтверждение
                </span>
              </li>
              <li class="order-card__header-item">
                <span class="order-card__step">
                  Шаг 3
                </span>
                <span class="order-card__step-descr">
                  Выбор тарифа
                </span>
              </li>
              <li class="order-card__header-item">
                <span class="order-card__step">
                  Шаг 4
                </span>
                <span class="order-card__step-descr">
                  Доставка
                </span>
              </li>
            </ul>
            <form action="#" method="post" class="order-card__form">
              <ul class="order-card__body-top-list">
                <li class="order-card__body-top-item">
                  <fieldset class="order-card__body-top-fieldset">
                    <legend class="order-card__body-top-legend">Выберите тип SIM-карты</legend>
                    <div class="order-card__body-top-wrapper-radio">
                      <input type="radio" name="type-card" id="plastic-card-radio" value="plastic" class="order-card__body-top-input-radio visually-hidden" required>
                      <label for="plastic-card-radio" class="order-card__body-top-label-radio">Пластиковая</label>
                      <input type="radio" name="type-card" id="eSim-card-radio" value="eSim" class="order-card__body-top-input-radio visually-hidden" required>
                      <label for="eSim-card-radio" class="order-card__body-top-label-radio">eSIM</label>
                    </div>
                  </fieldset>
                </li>
                <li class="order-card__body-top-top-item">
                  <div class="order-card__body-top-box-input">
                    <label for="name" class="order-card__body-top-label">
                      ФИО*
                    </label>
                    <input type="text" name="name" id="name" class="order-card__body-top-input" placeholder="Иванов Иван Иванович" required>
                  </div>
                </li>
                <li class="order-card__body-top-top-item">
                  <div class="order-card__body-top-box-input">
                    <label for="phone" class="order-card__body-top-label">
                      Контактный номер*
                    </label>
                    <input type="tel" name="phone" id="phone" class="order-card__body-top-input" placeholder="+7 (9__) ___-__-__" required>
                  </div>
                </li>
                <li class="order-card__body-top-top-item">
                  <div class="order-card__body-top-box-input">
                    <label for="email" class="order-card__body-top-label">
                      Электронная почта
                    </label>
                    <input type="email" name="email" id="email" class="order-card__body-top-input" placeholder="ivan@email.ru" required>
                  </div>
                </li>
              </ul>
              <ul class="order-card__body-bottom-list">
                <li class="order-card__body-bottom-item order-card__body-bottom-item--mod">
                  <div class="order-card__body-bottom-wrapper">
                    <input type="checkbox" name="transfer-number" id="transfer" class="order-card__body-bottom-checkbox visually-hidden">
                    <label for="transfer" class="order-card__body-bottom-label">
                      Перенести номер и&nbsp;получать +5&nbsp;ГБ ежемесячно
                    </label>
                    <svg width="20" height="20">
                      <use xlink:href="images/sprite.svg#icon-info"></use>
                    </svg>
                  </div>
                </li>
                <li class="order-card__body-bottom-item">
                  <div class="order-card__body-bottom-wrapper">
                    <input type="checkbox" name="agreement" id="agreement" class="order-card__body-bottom-checkbox visually-hidden" required>
                    <label for="agreement" class="order-card__body-bottom-label">
                      Согласен с <a href="#">Правилами заказа и доставки SIM-карт</a>, на обработку в соответствии с ними моих персональных данных и получение рекламы.
                    </label>
                    <svg width="20" height="20">
                      <use xlink:href="images/sprite.svg#icon-info"></use>
                    </svg>
                  </div>
                </li>
                <li class="order-card__body-bottom-item order-card__body-bottom-item--span">
                  <div class="order-card__body-bottom-wrapper">
                    <button type="submit" class="order-card__body-bottom-button">
                      Продолжить
                    </button>
                  </div>
                </li>
              </ul>
            </form>
          </div>
          <p class="order__security-info">
            Этот сайт защищен reCAPTCHA, и&nbsp;к&nbsp;нему применяются <a href="#">Политика конфиденциальности Google</a> и&nbsp;<a href="#">Условия предоставления услуг</a>
          </p>
        </div>
       </section>
    </main>
    <footer class="footer">
      <div class="footer__top">
        <div class="container">
          <div class="footer__wrapper">
            <a class="footer__logo-link" href="#" aria-label="Перейти на главную страницу Газпромбанк Мобайл">
              <svg class="footer__logo-image" width="198" height="50" aria-hidden="true">
                <use xlink:href="images/sprite.svg#logo-gazprombank-mobile"></use>
              </svg>
            </a>
            <ul class="footer__list">
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Тарифы
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Оплата
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Акции
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Поездки
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Карта покрытия
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Офисы
                </a>
              </li>
              <li class="footer__item">
                <a class="footer__link" href="#">
                  Новости
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="footer__wrapper">
            <div class="footer__copyright">
              <p class="footer__copyright-text">
                &copy;&nbsp;2024 Газпромбанк Мобайл <br> ООО &laquo;НМК&raquo;, ОГРН 1207700160590, лицензия Роскомнадзора &#8470;&nbsp;183555, 6+ г. Москва, ул. Новочеремушкинская, д.&nbsp;63, эт.&nbsp;1, пом. VI, ком.&nbsp;89
              </p>
              <p class="footer__copyright-info">
                Информация от&nbsp;18.02.2024
              </p>
            </div>
            <ul class="footer__phones">
              <li class="footer__phones-item">
                <p class="footer__phones-text footer__phones-text--size-small">
                  Для абонентов Газпромбанк Мобайл
                </p>
                <a class="footer__phones-link" href="tel:0801">
                  0801
                </a>
              </li>
              <li class="footer__phones-item">
                <p class="footer__phones-text">
                  Из&nbsp;роуминга и&nbsp;для других операторов сотовой связи
                </p>
                <a class="footer__phones-link" href="tel:74955396747">
                  +7&nbsp;495 539-67-47
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
