.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: flex-end;
  gap: 20px 32px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1023 {
    column-gap: 20px;
  }

  @include vp-767 {
    column-gap: 30px;
  }

  &__link {
    display: flex;
    color: $color-trout;
  }
}
