.btn {
  padding: 15px;
  border-radius: 60px;
  background-color: transparent;
  color: #9e5fc4;
  /* max-height: 46px; */
  border: 1px solid #9e5fc4;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: .3px;
  cursor: pointer;
}

.aside__button {
  letter-spacing: 0px;
}

.btn--bg-lilac {
  background-color: #9e5fc4;
  border: none;
  color: #ffffff;
}
