.news {
    position: relative;
    margin-bottom: 96px;
    // overflow: hidden;

    &__img-bg {
        position: absolute;
        bottom: -150px;
        left: 0;
        width: 100%;
        mix-blend-mode: hard-light;
        z-index: -1;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 41px;
    }

    &__title {
        margin: 0;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
    }

    &__link {
        font-family: "Inter";
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        text-decoration: underline;
        text-decoration-style: solid;
        text-underline-offset: 3px;
        color: $color-zeus;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        width: calc((100% - 72px) / 4);
    }
}